.team.container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--orange-color);
    background-color: #efefef;
}

.team.container-fluid ul {
    margin-bottom: 4rem;
}

.team.container-fluid ul li {
    font-size: 1.7rem;
}

.team.container-fluid ul li h3 {
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: bold;
}

.team.container-fluid ul li .sub-title {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.team.container-fluid ul li .team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    place-content: space-around;
    margin-top: 3rem;
}

.team.container-fluid ul li .team-cards .card {
    width: 15rem;
    border-radius: 10px;
}

.team.container-fluid ul li .team-cards .card .card-img-top {
    position: relative;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team.container-fluid ul li .team-cards .card .card-img-top .img-primary {
    height: 7rem;
    width: 7rem;
    position: relative;
    top: 0;
    z-index: 1000;
    border-radius: 60px;
    border: .4rem solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team.container-fluid ul li .team-cards .card .card-img-top .img-primary img {
    width: 140%;
    height: auto;
    margin-top: 2rem;
}

.team.container-fluid ul li .team-cards .card .card-img-top .bg-blue {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55%;
    z-index: 500;
    background-color: rgba(0, 0, 30, 0.5);
    border-radius: 10px 10px 0 0;
}

.team.container-fluid ul li .team-cards .card .card-img-top .bg-img {
    position: absolute;
    top: 0;
    z-index: 100;
    height: 55%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
}

.team.container-fluid ul li .team-cards .card .card-img-top .bg-img img {
    width: 140%;
    height: auto;
    margin-bottom: 5rem;
}

.team.container-fluid ul li .team-cards .card .card-body {
    padding-top: 0;
    text-align: center;
}

.team.container-fluid ul li .team-cards .card .card-body h4 {
    color: var(--primary);
    font-weight: bold;
    font-size: 1.25rem;
}

.team.container-fluid ul li .team-cards .card .card-footer {
    padding-top: 0;
    border-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    background: transparent;
}

.team.container-fluid ul li .team-cards .card .card-footer button {
    font-size: 0.9rem;
    border-radius: 50px;
    border: .15rem solid var(--orange-color);
    padding: 0.25rem 1rem;
    color: var(--orange-color);
    background-color: transparent;
}

.team.container-fluid>button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    width: 10rem;
    border: .2rem solid white;
    background-color: var(--orange-color);
    color: white;
    font-weight: bold;
}